<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <main>
            <section class="listPosition">
                <h2>Lista de Clientes</h2>
                <section>
                <div th:if="${exito}!=null" class="card text-white bg-success m-2" >
                    <div class="card-body">
                        <h5 class="card-title">Exito</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error}!=null" class="card text-white bg-danger m-2" >
                    <div class="card-body">
                        <h5 class="card-title">Error</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
            </section>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">DNI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Esta activo?</th>
                            <th scope="col">Alta/Baja</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody th:each="cliente : ${clientes}">
                        <tr>
                            <th scope="row" th:text="${cliente.documento}"></th>
                            <td th:text="${cliente.nombre}"></td>
                            <td th:text="${cliente.apellido}"></td>
                            <td th:text="${cliente.telefono}"></td>
                            <td>
                                <i th:if="${cliente.alta}" class="fa fa-circle text-success"></i>
                                <i th:unless="${cliente.alta}" class="fa fa-circle" style="color:red;"></i>
                            </td>
                            <td>
                                <a th:href="@{/cliente/alta/__${cliente.id}__}"><i class="fa fa-arrow-up"></i></a> 
                                <a th:href="@{/cliente/baja/__${cliente.id}__}"><i class="fa fa-ban"></i></a>
                            </td>
                            <td>
                                <a th:href= "@{/cliente/modificar/__${cliente.id}__}"  class="btn btn-outline-secondary" role="button">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="agregarBtn">
                    <a href="/cliente/registro" class="btn btn-outline-success">Agregar</a>
                </div>
            </section>
        </main>
        <footer th:replace="/fragments/footer :: footer"></footer>
        <script th:replace="/fragments/scriptBootstrap :: script"></script>
    </body>
</html>
